<!DOCTYPE html>
<html lang="en" ng-app="MyController">
<head>
	<meta charset="UTF-8">
	<title>Servidor {{port}}</title>
	<link rel="icon" href="./assests/img/ico.jpg">
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/mainCss.css">
</head>
<body ng-controller="ctrl">
<div class="myBorder centerthis" style="width:100%; height: 25%; margin-top: 0px;">
	<p style="font-size: 100px; margin: 0px 0px 0px 0px">hola {{nombre}} {{servPort}}</p>
</div>
<div class="myBorder status">
	<label>Yo soy: {{port}}</label>
	<label>¿Soy el lider?: {{howiam}}</label>
</div>
<div class="myBorder status" ng-show="leave" class="ng-hide">
	<button type="button" ng-click="toLeave()" style="margin-left:24%; margin-right: 0px; background-color: red;">renunciar</button>
</div>
<div class="myBorder status">
	<label style="margin-left: 30%">{{director}}</label>
	<button type="button" ng-click="consultLeader()" style="margin-left:24%; margin-right: 0px;">¿Quien es el lider?</button>
</div>
<hr>
<label>Puerto: {{servPort}} <br> </label>
<input id="myPortID" type="text" ng-change="updatePort()" ng-model="servPort" required
       minlength="4" maxlength="4" size="3" >
<script src="./js/controller.js"></script>
</body>
</html>